button{
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    text-align: center;
    margin: 10px;
    transition: background-color 0.3s;
}
.text1{
    align-content: baseline; background-color: #f2f2f2;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}
.text{
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}
.top1{
    text-align: center
}
.block{
    border-radius: 50px;
    background-color: rgb(204, 216, 42);
}
.refpage{
    display: grid;
    justify-content: space-evenly;
}
.detailstop{
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px;
    border-radius: 10px; align-content: center;
}
.table{
    border: #4CAF50;
    border-radius: 2.5px;
}